<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>box</title>
    </head>
<!--{%block content%}-->

    <body>
    <form action="add" class="box">
        <h1>Register</h1>
        <input type = "text" name = "name" placeholder="Username">
        <input type = "text" name = "email" placeholder="Email Address">
        <input type = "text" name= "password" placeholder="Password"><br>
        <input type = "submit" value="Upload">
    </form>

    </body>
<!--{%endblock%}-->
</html>