<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Home</title>

</head>
<!--<body bgcolor="green">-->
<!--<iframe src = "demo_iframe.htm"-->
<!--height="200" width = "200"-->
<!--title = "Iframe Example"></iframe>-->


<center>

    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Welcome!</h1>
    <br>


    <a href="/register"><button>Register</button></a>
    <h3>Press Register : for create account</h3>
    <a href="/log"><button>Login</button></a>
    <h3>Press Login : for signin your account</h3>

</center>
</body>
</html>