<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>box</title>
    </head>

    <body>
    <center>
    <form action="add" class="box">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Register</h1>
        <br>

        <input type = "text" name = "name" placeholder="Username">
        <br>
        <input type = "text" name = "email" placeholder="Email Address">
        <br>
        <input type = "password" name= "password" placeholder="Password"><br>
        <h1></h1>

        <input type="submit">
    </form>
    <div>
        <h4>{{reg}}</h4>
    </div>
    </center>
    </body>

</html>